<h1>Esta es la pag de precios levantada desde un res.render("precios")</h1>
<h1>en el archivo precios.js </h1>
<h1>La navegacion esta en el archivo layout.hbs y se conecta con un href:"/precios"</h1>
<h1>Este archivo precios.hbs es el contenido de la pagina</h1>