body {
    font-family: 'EB Garamond', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 10px 20px;
}

header h1 {
    color: aliceblue;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    /* acomoda el texto al lado del logo */
    position: relative;
    bottom: 0px;
    top: 10px;

}

nav {
    background-color: rgb(113, 189, 189);
    margin-bottom: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    text-align: center;

}

nav ul li a:hover {
    background-color: rgb(59, 78, 74);

}

footer {
    background-color: rgb(158, 144, 122);
    color: rgb(59, 59, 59);
    text-align: center;
    padding: 5px 5px;
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: rgb(59, 78, 74);

}

.holder {
    max-width: 860px;
    margin: 0 auto;
}

h2 {
    color: rgb(24, 17, 61);
}


/* inicio Home*/

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #f4f9fd;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.testimonios {
    width: 25%;
    background-color: rgb(212, 168, 73);
}

.columnas{
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}

.testimonios {
    background-color: #ccc;
    padding: 16px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.testimonios .cita{
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    background-color: rgb(190, 235, 31);
    display: block;
   
}

.testimonios .autor{
    font-size: 10px;
    text-align: center;
    background-color: lightcoral;
     display: block; /* para que los elementos que trabajen en linea lo hagan en bloque  */
    margin: 12px 0;
}
/* fin de home */


/* inicio de personas */

.historia p {
    font-size: 12px;
}


.persona {
    
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: #f4f9fd;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.personas {
    display: flex;
    justify-content: space-around;
    
}


.personas :hover{
    background-color: #cbe2f8;
    transition-duration: 0.5s;
}  


.persona img{
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px black;
}

.persona h6{
    margin: 0;
    font-weight: normal;
    color: #2e64a1;

}
.persona p{
    color: rgb(53, 53, 53) ;
    font-size: 10px;
}
/* fin de nosotros */

/* inicio de servicios */

.servicios {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 13px;
    margin: 16px;
    display: flex;
    gap: 22px;  /*para separar el contenido */
    background-color: #f4f9fd;
    align-items: center;

}

.servicios .info h4{
    color: #2e64a1;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}

servicios p{
    font-size: 13px;
}

.servicios img{
    border-radius: 15px;
    display: block;
    margin-left: 10px;
}


/* usando una pseudo clase cambiamos la direccion de los elementos en este caso de los pares */
.servicios:nth-child(even){
    flex-direction: row-reverse;
}


/* fin de servicios */
